body {
	background-color: #e9ebee;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

hr {
	margin: 10px 0;
}

.sofl-header {
	padding: 10px 0px;
	background-color: #2c3e50;
}

.sofl-header-logo {
	font-family: 'Montserrat', sans-serif;
	color: #bdc3c7;
	font-size: 24px;
	letter-spacing: 1.2px;
}

.sofl-header-logo-heart {
	color: #e74c3c;
	font-size: 24px;
	top: 4px;
}

.modal-lg {
	max-width: 750px;
}

.modal-content {
	padding: 20px;
}

#sofl-github img {
  width: 20px;
  height: 20px;
}

.sofl-markdown {
	margin-top: 40px;
}